body {
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 2rem;
		color: magenta;
		font-family: 'Comic Neue', cursive;
	}
	p {
		font-size: 1.2rem;
	}
	form {
		padding: 5%;
		h2 {
			font-size: 2rem;
			color: magenta;
			font-family: 'Comic Neue', cursive;
		}
		label {
			margin-right: 1%;
		}
		input {
			margin: 0.3rem;
		}
		strong {
			font-weight: bold;
		}
		.delete {
			display: flex;
			flex-direction: column;
			div {
				display: flex;
				flex-direction: row;
			}
		}
	}
}
